<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>契約者情報</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>companyName</string>
			<key>Title</key>
			<string>契約者ID(CustomerID)</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>companyCode</string>
			<key>Title</key>
			<string>店舗CD(StoreCD)</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>companyPass</string>
			<key>Title</key>
			<string>パスワード(Password)</string>
			<key>IsSecure</key>
			<true/>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>全般設定</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ApplicationSettings</string>
			<key>Title</key>
			<string>アプリケーション設定</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>PrintSettings</string>
			<key>Title</key>
			<string>印刷設定</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>連携システム設定</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>linkSystem</string>
			<key>Title</key>
			<string>連携システム選択</string>
			<key>Titles</key>
			<array>
				<string>連携なし（プリンタ連携）</string>
				<string>東芝TEC POS端末</string>
				<string>スマレジ</string>
				<string>デモ・トレーニングモード</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>9</string>
			</array>
		</dict>
		<dict>
			<key>File</key>
			<string>TECPosSettings</string>
			<key>Title</key>
			<string>東芝TEC POS端末連携設定</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>SmaRegiSettings</string>
			<key>Title</key>
			<string>スマレジ連携設定</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
